#mine {
    -fx-background-color: #ff0000;
    -fx-background-image: url('mine.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}

#marked {
    -fx-background-color: #FF9C23;
    -fx-background-image: url('flag.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}

#turnedUp {
    -fx-background-color: #ffffff;
}

#default {
    -fx-background-color: #FFF42D;
    -fx-background-image: none;
}

#mine_win {
    -fx-background-color: #267F00;
    -fx-background-image: url('mine.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}

#popup {
    -fx-background-color: #FF9C23;
    -fx-border-size: 1px;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#popup .label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.headerLabel {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-font-family: "Garamond";
	-fx-effect: dropshadow(gaussian, white, 10, 0, 0, 0);
}